:root {
    --primary-color: #ea0606;
    --secondary-color: #ff3d59;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: var(--primary-color);
    background-color: #f5f5f5;
}

.container-main {
    width: 450px;
    background-color: white;
    border-radius: 10px;
}

/* .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: white;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px;
} */

.title img {
    max-width: 300px;
}

.bottom {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.bottom header {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background: transparent;
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 0 10px 0 10px;
    box-shadow: none;
}

.form-control:focus {
    border-bottom: 1px solid var(--primary-color);
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-out;
    box-shadow: none;
    outline: none;
}

.form-label {
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.4s ease;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    top: -10px;
    font-size: 15px;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-floating {
    position: relative;
    margin-bottom: 1rem;
}

.form-floating input:focus ~ label,
.form-floating input:not(:placeholder-shown) ~ label {
    top: -0.75rem;
    font-size: 0.75rem;
    color: #007bff;
}

.form-floating label {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    pointer-events: none;
    transition: all 0.2s;
}

.btn.btn-login {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    outline: none;
    border: none;
    color: white;
}

.btn.btn-login:hover {
    color: white;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.btn.btn-login:active {
    color: green;
}

.signin {
    margin-top: 20px;
    text-align: center;
}

.signin a {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 600;
}

.signin a:hover {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
